@layer reset, base, tokens, recipes, utilities;

/* Loading Animation by https://css-loaders.com/dots/ */
/* HTML: <div class="loader"></div> */

:root {
    --bs-loader-bg: #00ba9d;
}

:root.dark {
    --bs-loader-bg: #028373;
}

#root {
    display: contents;
}

.bs-loader {
    width: 50px;
    height: 12px;
    --_g: no-repeat radial-gradient(farthest-side, var(--bs-loader-bg) 94%, #0000);
    background:
            var(--_g) left,
            var(--_g) right;
    background-size: 12px 12px;
    position: absolute;
    left: 50dvw;
    top: 50dvh;
    transform: translate(-50%, -50%) scale(1.5);
}
.bs-loader:before {
    content: "";
    position: absolute;
    height: 12px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--bs-loader-bg);
    inset: 0;
    margin: auto;
    animation: l25-1 1s, l25-2 0.5s;
    animation-timing-function: cubic-bezier(.5,-900,.5,900);
    animation-iteration-count: infinite;
}
@keyframes l25-1 {
    100% {transform:translate(0.12px)}
}
@keyframes l25-2 {
    100% {inset:-0.15px 0 0;}
}
